@using StudyProject;

@model List<tbTest>
@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

@foreach (tbTest test in Model) { 
    <p>@test.tbInstitution.Name @test.Name</p>
}