@model List<tbMaterials>
@{
    ViewBag.Title = "TutorMaterials";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<h4 class="text-center">Навчальні матеріали</h4>


<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <button type="button" class="btn btn-success btn-xs" data-toggle="modal" data-target="#createMaterial" onclick="setValue('@ViewBag.idInstitution')">
                    <i class="fas fa-plus fa-1x"></i> Створити матеріал
                </button>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <table class="table">
                    <tr>
                        <th>Назва</th>
                    </tr>
                    @foreach (tbMaterials material in Model)
                    {
                        <tr>
                            <td><a href="@Url.Action("ViewMateril","Tutor", new { idMaterial = material.idMaterial })">@material.Name</a></td>
                        </tr>
                    }
                </table>

            </div>
        </div>
    </div>
</div>



@using (Html.BeginForm("CreateMaterial", "Tutor", FormMethod.Post))
{
    <div class="modal fade" id="createMaterial" tabindex="-1" role="dialog" aria-labelledby="title" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="title">Створення матеріала</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-horizontal">
                        <div class="form-group">
                            <label class="control-label col-md-2">Назва</label>
                            <div class="col-12">
                                <input type="text" name="Name" class="form-control" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-2">Текст</label>
                            <textarea class="form-control" id="text" name="Text" rows="3"></textarea>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <input type="hidden" name="idInst" id="inst" value="" />
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрити</button>
                    <button type="submit" class="btn btn-primary">Зберегти</button>
                </div>
            </div>
        </div>
    </div>
}


@section Scripts{
    <script>
        function setValue(id) {
            $('#inst').val(id);
        }
    </script>

    <script>
        $(function () {
            $('#text').summernote()
        })
    </script>

}
